

  <div class="row ">
    <div class="col s12"  style="text-align: center;">
      <button mat-raised-button color="primary" (click)="iniciarJuego()">INICIAR JUEGO</button>
    </div>
  </div>
  <div class="row">
    <div class="col s12" >
      <div class="section">
        <app-pista ></app-pista>
      </div>
      <div class="section pista">
        <app-pista ></app-pista>
      </div>
      <div class="section pista">
        <app-pista ></app-pista>
      </div>
    </div>
  </div>
  <br>



