<div class="container">

    <div class="card">

        <div class="">
            <b>LOGIN</b>
        </div>
        <div class="">
            <div class="formLogin">
                <div class="label">
                    <label>Email</label>
                </div>
                <div class="input">
                    <input class="hold form-control m-2" type="email" placeholder="ingrese su email" [(ngModel)]="usuario.email">
                </div>
            </div>
            <div>
                <div class="label">
                    <label>Password</label>
                </div>
                <div class="input">
                    <input class="hold form-control m-2" type="password" placeholder="ingrese su password" [(ngModel)]="usuario.password">
                </div>
            </div>
            <div class="row">
                <div class="buttons">
                    <div class="btn1 col s6">
                        <button class="button1 btn" (click)="ingresar()">Ingresar</button>
                    </div>
                    <div class="col s6">
                        <button class="button2 btn" (click)="ingresarEmail()">Gmail</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">

        </div>
    </div>
</div>
