.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.class-header{
    display: flex;
}
.btn{
    display: flex;
    justify-content: center;
    align-content: space-between;
    
}

.formLogin .center{
    display: flex;
    justify-content: center;
}
