<div class="container">

    <div class="card text-center">
        <div class="card-header">
            <b>LOGIN</b>
        </div>
        <div class="card-body">
            <label>Email</label>
            <input class="form-control m-2" type="email" placeholder="ingrese su email" [(ngModel)]="usuario.email">
            <label>Password</label>
            <input class="form-control m-2" type="password" placeholder="ingrese su password" [(ngModel)]="usuario.password">
            <button class="btn btn-primary btn-block" (click)="ingresar()">Ingresar</button>
            <div class="row">
                <div class="col s4">
                    <label>¿Aun no Registrado?</label>
                </div>
                <div class ="col s2">
                    <label>¿Aun no Registrado?</label>
                    <a href="ingresar()">Registrarse</a>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">
            
        </div>
    </div>
</div>